*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}
#heading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.2rem;
}

#todoForm{
    display: flex;
    justify-content: center;
    align-items: center;
}

#todoList{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
